.home-container {
    background-color: #dfe4ea;
    height: 100vh;
    width: 100%;
}

.home-container main {
    display: flex;
    flex-direction: row;
}

.home-container section {
    padding: 10px;
}