.login-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background-color: #dfe4ea;
}

.login-container h4 {
  font-size: 24px;
}

.login-container .card {
  height: 320px;
  width: 550px;
  background-color: #f1f2f6;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-container .card .wrapper {
  margin-top: 15px;
  width: 70%;
}

.login-container .card .wrapper input {
  border: 1px solid #dcdcdc;
  height: 50px;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  background: #fff;
}

.login-container .card button {
  background-color: #2ed573;
  width: 40%;
  height: 50px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  margin-top: 20px;
}

.login-container a {
    width: 70%;
    margin-top: 5px;
    font-size: 14px;
}

.login-container textarea {
  border: 1px solid #dcdcdc;
  height: 80px;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  background: #fff;
  resize: none;
}