.patient-container {
  height: 100%;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
}

.patient-container img {
  height: 20px;
  width: 20px;
}

table {
  font-family: "Roboto", sans-serif;
  border-collapse: collapse;
  width: 100%;
  color: #2e3443;
}

td,
th {
  border: 1px solid #dcdcdc;
  text-align: left;
  padding: 8px;
  text-align: center;
  width: 200px;
}

tr:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
